body {
  font-family: "Work Sans", sans-serif;
}
input {
  font-size: 13px;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border: 0 solid black;
  background: white;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

h3 {
  padding-top: 30px;
}

ul {
  margin: 0;
  padding: 0;
}
#city{
  color: black;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
font-size: 26px;
  font-weight: 100;
  line-height: 39px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  
}

.weather-app {
  padding: 20px;
  border: 10px solid #d1fdff;
  border-radius: 20px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}